//Abstracts
@import "./abstracts/abstracts";

//Base Styles
// @import "base/";

//Components
@import "components/components";

//Layout
// @import "layouts/";


:root {
  font-size: $font-size;
  line-height: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: $paragraph;
}

h1,
h2,
h3,
h4 {
  font-family: $header;
}

a {
  text-decoration: none;
}

// Layout container.container {
.layout {
  display: grid; 
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 25rem auto;
  gap: 0px 0px;
}

.navbar{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  z-index: 4;

  &__list {
    display: none;
  }
}

.hero {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  
  &__img {
    width: 100%;
    height: 100%;
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
    background-size:cover ;
    z-index: -1;
  }
  
  &__header {
    position: absolute;
    top: 30%; 
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .1rem;
  }
  &__arrow {
    position: absolute;
    top: 60%; 
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.advert {
  grid-row-start: 3;
  grid-row-end: 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  &__item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 725px;
    &__img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}

.content {
  padding: 0 2rem;
  text-align: center;
  &__header {
    font-weight: 700;
  }

  &__link {
    color: black;
    margin-bottom: 1rem;
    font-family: $header;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.services {
  position: relative;
  background-image: url("images/mobile/image-photography.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  .content {
    position: absolute;
    bottom: 2rem;
    text-align: center;
  }
}

// Testimonials
.testimonials{
  padding: 2rem;
  text-align: center;
  background-color: $white;
  &__header {
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .1rem;
  }
}
.testimonials-item{
  line-height: 1.8rem;
  &__img {
    border-radius: 50%;
    height: 3rem;
  }
  p {
    color: $veryDarkBlue ;
    font-weight: 600;
    margin: 1rem 0;
  }
  h4 {
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0;
  }
  .text-small {
    margin: 0;
    font-size: .7rem;
    color: $darkGrayishBlue ;
    font-weight: 700;
  }
}

// Gallery 
.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  &__img {
    width: 100%;
    height: 100%;
  }
}

// Footer 

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  color: $darkModerateCyan;
  background-color: $darkCyan;
  
  img {
    margin-bottom: 1rem;
    scale: 1.5;
    filter: $darkModerateCyan(100%);
  }
  ul {
    padding: 0;
  }

  ul li {
    display: inline-block;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
  }

  &__item li{
    font-size: 1rem;
    margin: 0 .4rem;
  }

  .social-icons li {
    margin: 0 1.5rem;
  }
}

