//Abstracts
@import "./abstracts/abstracts";

//Base Styles
// @import "base/";

//Components
@import "components/components";

//Layout
@import "layouts/layouts";


:root {
  font-size: $font-size;
  line-height: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: $paragraph;
}

h1,
h2,
h3,
h4 {
  font-family: $header;
}

a {
  text-decoration: none;
}
