// Testimonials
.testimonials{
  padding: 2rem;
  text-align: center;
  background-color: $white;
  &__header {
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .1rem;
  }
}
.testimonials-item{
  line-height: 1.8rem;
  &__img {
    border-radius: 50%;
    height: 3rem;
  }
  p {
    color: $veryDarkBlue ;
    font-weight: 600;
    margin: 1rem 0;
  }
  h4 {
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0;
  }
  .text-small {
    margin: 0;
    font-size: .7rem;
    color: $darkGrayishBlue ;
    font-weight: 700;
  }
}
